app_common_python==0.2.8
attrs==25.3.0
botocore==1.39.4
boto3==1.39.4
Flask==3.1.1
confluent_kafka==2.11.0
logstash_formatter==0.5.17
prometheus_client==0.22.1
PyYAML==6.0.2
setuptools==80.9.0
s3transfer==0.13.0
watchtower==3.4.0
